<div class="landing-portal-container" [class.flex-column]="IsMobileViewport || IsTabletViewport">
  <div class="mt-4 d-flex flex-column justify-content-center" [class.left-half]="IsLaptopViewport || IsLargeViewport || IsXLargeViewport">
    <mat-card appearance="outlined" class="mx-4 landing-card">
      <mat-card-header>
        <mat-card-title>
          MISHMAKERY
        </mat-card-title>
        <mat-card-subtitle>
          Bespoke Bakery
          <br/>
          (502) 883-8130
          <br/>
          <a class="landing-portal-links" href="mailto:mishmakery@gmail.com">mishmakery&#64;gmail.com</a>
          <br/>
          <a class="landing-portal-links" href="https://www.instagram.com/mishmakery/">&#64;Mishmakery</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider class="mt-4 mb-2 mx-4"></mat-divider>
      <mat-card-content>
        <p>MISHMAKERY is a registered, licensed, and insured home-based bakery in Louisville, KY.
          We craft custom bakes for all occasions and milestones. Every product is scratch-made with the highest quality ingredients to ensure superior taste and texture. Allow us to provide the centerpiece for your next celebration!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="d-flex justify-content-center carousel-container" [class.landing-container-mobile]="IsMobileViewport || IsTabletViewport" [class.right-half]="IsLaptopViewport || IsLargeViewport || IsXLargeViewport">
    <img
      *ngFor="let image of homeImages; let i = index"
      [src]="image"
      loading="lazy"
      class="carousel-image"
      [class.active]="i === currentIndex"
      [class.landing-foto-mobile]="IsMobileViewport || IsTabletViewport" [class.landing-foto-laptop]="IsLaptopViewport || IsLargeViewport || IsXLargeViewport"
    />
    <!-- <div class="landing-foto" [class.landing-foto-mobile]="IsMobileViewport || IsTabletViewport" [class.landing-foto-laptop]="IsLaptopViewport || IsLargeViewport || IsXLargeViewport"></div> -->
  </div>
</div>