.menu-list-header {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.menu-listings {
    margin: 6vh 0;
}

.menu-stepper {
    height: 75vh;
}

.bakery-menu-slim-container {
    height: 100%;
}