.menu-list-header {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.menu-list-wide {
    margin: 0 10%;
}

.menu-listings {
    padding: 6vh 0;
}

.menu-stepper {
    height: 75vh;
}

.bakery-menu-container {
    background-color: #e8dfd0;
    color: #420c09;
}

.bakery-menu-slim-container {
    height: 100%;
    background-color: #e8dfd0;
    color: #420c09;
}