<div class="bakery-menu-container" *ngIf="IsLaptopViewport || IsLargeViewport || IsXLargeViewport">
    <mat-grid-list cols="2" rowHeight="200vh">
        <mat-grid-tile class="border-end d-flex" [class.flex-column]="IsMobileViewport || IsTabletViewport" [colspan]="checkLayout(true)">
            <div class="menu-list menu-list-wide d-flex flex-column h-75">
                <h4>{{ menu?.customCakes?.title }}</h4>

                <div class="ms-1 me-4">
                {{ menu?.customCakes?.description }}
                </div>

                <mat-list>
                    <mat-list-item *ngFor="let item of menu?.customCakes?.items">
                        <span matListItemTitle>
                        {{ item.title }}
                        </span>

                        <p matListItemLine>
                        {{ item.price }}
                        </p>

                        <p matListItemLine *ngIf="item.note">
                        {{ item.note }}
                        </p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="menu-list menu-list-wide d-flex flex-column h-75">
                <h4>{{ menu?.otherDesserts?.title }}</h4>

                <mat-list>
                    <mat-list-item *ngFor="let item of menu?.otherDesserts?.items">
                        <span matListItemTitle>
                        {{ item.title }}
                        </span>

                        <p matListItemLine *ngFor="let detail of item.details">
                        {{ detail }}
                        </p>
                    </mat-list-item>
                </mat-list>

                <h4>{{ menu?.flavors?.title }}</h4>

                <div class="flavor-grid">
                    <span *ngFor="let flavor of menu?.flavors?.items">
                        {{ flavor }}
                    </span>
                </div>

                <strong class="mt-3">
                {{ menu?.flavors?.additionalMessage }}
                </strong>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!-- Mobile Layout Below -->

<div class="bakery-menu-slim-container" *ngIf="IsMobileViewport || IsTabletViewport">
    <div class="menu-listings d-flex flex-column ps-2">
        <div class="menu-list d-flex flex-column ms-2 me-2">
            <h4>{{ menu?.customCakes?.title }}</h4>

                <div class="ms-1 me-4">
                {{ menu?.customCakes?.description }}
                </div>

                <mat-list>
                    <mat-list-item *ngFor="let item of menu?.customCakes?.items">
                        <span matListItemTitle>
                        {{ item.title }}
                        </span>

                        <p matListItemLine>
                        {{ item.price }}
                        </p>

                        <p matListItemLine *ngIf="item.note">
                        {{ item.note }}
                        </p>
                    </mat-list-item>
                </mat-list>
        </div>
        <div class="menu-list d-flex flex-column ms-2 me-2 mb-3">
            <h4>{{ menu?.otherDesserts?.title }}</h4>
                <mat-list>
                    <mat-list-item *ngFor="let item of menu?.otherDesserts?.items">
                        <span matListItemTitle>
                        {{ item.title }}
                        </span>

                        <p matListItemLine *ngFor="let detail of item.details">
                        {{ detail }}
                        </p>
                    </mat-list-item>
                </mat-list>

                <h4>{{ menu?.flavors?.title }}</h4>

                <div class="flavor-grid">
                    <span *ngFor="let flavor of menu?.flavors?.items">
                        {{ flavor }}
                    </span>
                </div>

                <strong class="mt-3">
                {{ menu?.flavors?.additionalMessage }}
                </strong>
        </div>
    </div>
</div>