<div class="bakery-menu-container" *ngIf="IsLaptopViewport || IsLargeViewport || IsXLargeViewport">
    <mat-grid-list cols="2" rowHeight="92vh">
        <mat-grid-tile class="border-end d-flex" [class.flex-column]="IsMobileViewport || IsTabletViewport" [colspan]="checkLayout(true)">
            <div class="menu-list menu-list-wide d-flex flex-column h-75">
                <h4>Flavors</h4>
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>
                            Chocolate
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Marble
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Vanilla
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Strawberry
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Coffee
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Carrot
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Red Velvet
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Lemon
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="menu-list menu-list-wide d-flex flex-column h-75">
                <h4>Dessert Varieties</h4>
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>
                            Loaf Cakes
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Pound Cakes
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Dessert Breads
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Sponge Cake
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Cookies
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Decorated Cookies
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Pakistani Burfi
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Palestinian Hilba
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Brownies
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!-- Mobile Layout Below -->

<div class="bakery-menu-slim-container" *ngIf="IsMobileViewport || IsTabletViewport">
    <div class="menu-listings d-flex flex-column">
        <div class="menu-list d-flex flex-column ms-2 me-2">
            <h4>Flavors</h4>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>
                        Chocolate
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Marble
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Vanilla
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Strawberry
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Coffee
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Carrot
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Red Velvet
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Lemon
                    </span>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="menu-list d-flex flex-column ms-2 me-2">
            <h4>Dessert Varieties</h4>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>
                        Loaf Cakes
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Pound Cakes
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Dessert Breads
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Sponge Cake
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Cookies
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Decorated Cookies
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Pakistani Burfi
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Palestinian Hilba
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        Brownies
                    </span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>