.faq-container {
    background-color: #e8dfd0;
    color: #420c09;
}

.faq-card {
    border-radius: 0;
}

.question-answer-span {
    width: fit-content;
}

::ng-deep .mat-mdc-card-outlined {
    background-color: #e8dfd0 !important;
    border-color: #420c09 !important;
}

.faq-menu-link {
    color: #420c09;
}