<div class="faq-container py-4">
  <mat-card appearance="outlined" class="mx-4 faq-card">
      <mat-card-header>
        <mat-card-title class="mx-2">
          Frequently Asked Questions
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="mt-4 mb-2 mx-4"></mat-divider>
      <mat-card-content class="mx-4">
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">How can I contact you if I want to order from you?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="after" matBadgeOverlap="false">Call me at (502) 883-8130</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">What flavors do you offer for cupcakes?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="after" matBadgeOverlap="false">Chocolate, Vanilla, Lemon, &amp; Hazelnut</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">What flavors do you offer for cupcakes?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="after" matBadgeOverlap="false">Chocolate, Vanilla, Lemon, &amp; Hazelnut</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">What flavors do you offer for cupcakes?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="after" matBadgeOverlap="false">Chocolate, Vanilla, Lemon, &amp; Hazelnut</span>
        </div>
      </mat-card-content>
    </mat-card>
</div>