<div class="faq-container py-4">
  <mat-card appearance="outlined" class="mx-4 faq-card">
      <mat-card-header>
        <mat-card-title class="mx-2">
          Frequently Asked Questions
        </mat-card-title>
      </mat-card-header>
      <mat-divider class="mt-4 mb-2 mx-4"></mat-divider>
      <mat-card-content class="mx-4">
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">How can I contact you to order from you?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">Please fill out the order form on the Order Here page at this link: <a class="faq-menu-link" routerLink="/order-here">MISHMAKERY Order Form</a>. A representative from MISHMAKERY will contact you for further details.</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">What is your address?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">MISHMAKERY is a home-based operation that is fully licensed, registered, and insured. For privacy, the home address will not be provided until 24 hours before the pickup for an order.</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">Do you use only halal ingredients?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">Yes! MISHMAKERY is a Muslim-owned bakery. We use only certified halal items where items contain animal products (i.e. gelatin) and we use flavoring emulsions, not alcohol-based extracts.</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">What flavors are available?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">Please see the Menu page here: <a class="faq-menu-link" routerLink="/menu">MISHMAKERY Menu</a></span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">How much does a custom cake cost?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">A MISHMAKERY custom cake can range from $4-$25 per serving.  Price is determined by size and complexity of design and due to the fact that all items (cake, frosting, filling, fondant) are made from scratch and fresh per order. Minimum order is $100 for custom cakes.</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">What payment methods are accepted?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">We accept Zelle, CashApp, and Venmo. We can also do credit card transactions over the phone for an additional processing fee. We do not accept cash on delivery or checks.</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">Can you ship cakes &amp; baked goods?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">We do not offer shipping at this time.</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">Do you offer tastings or samples?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">We offer cupcake sampler boxes starting at $60. This includes 12 cupcakes in up to 6 different flavors of cake and fillings.</span>
        </div>
        <div class="question-container d-flex flex-column my-4">
          <span class="question-answer-span" matBadge="Q" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">What dietary restrictions can you accommodate?</span>
          <span class="question-answer-span" matBadge="A" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false">We accommodate halal requests on all orders. We can accommodate vegan/dairy-free requests on certain orders. We cannot accommodate nut allergies, gluten sensitivity, or kosher-certified requirements.</span>
        </div>
      </mat-card-content>
    </mat-card>
</div>