<div class="order-requests-container">
    <mat-card appearance="outlined" [class.border-fix]="IsMobileViewport || IsTabletViewport" [class.order-requests-card]="IsLaptopViewport || IsLargeViewport || IsXLargeViewport">
        <mat-card-header>
            <mat-card-title class="mx-2">
              Order Request Form
            </mat-card-title>
        </mat-card-header>
        <mat-divider class="my-4 mx-4"></mat-divider>
        <mat-card-content class="d-flex flex-column mx-4 overflow-hidden d-flex align-items-center">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfTrKrkmgZ0PvMxbSEuvm2ryrDcypLaO9JT3nZH4KSTo48rPA/viewform?embedded=true" [width]="IsLaptopViewport || IsLargeViewport || IsXLargeViewport ? 700 : 375" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </mat-card-content>
    </mat-card>
</div>