<div class="policies-container py-4">
  <mat-card appearance="outlined" class="mx-4 policies-card">
    <mat-card-header>
      <mat-card-title class="mx-2">
        Terms &amp; Conditions
      </mat-card-title>
    </mat-card-header>
    <mat-divider class="mt-4 mb-2 mx-4"></mat-divider>
    <mat-card-content class="mx-4">
      <div *ngFor="let term of termsConditions?.terms" class="question-container d-flex flex-column my-4">
        <div mat-subheader><b>{{ term.title }}</b></div>
        <mat-list-item *ngFor="let content of term.content">
            <div matListItemLine>	&bull; {{ content }}</div>
        </mat-list-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>