<div class="policies-container py-4">
  <mat-card appearance="outlined" class="mx-4 policies-card">
    <mat-card-header>
      <mat-card-title class="mx-2">
        Terms &amp; Conditions
      </mat-card-title>
    </mat-card-header>
    <mat-divider class="mt-4 mb-2 mx-4"></mat-divider>
    <mat-card-content class="mx-4">
      <div class="question-container d-flex flex-column my-4">
        <div mat-subheader><b>Orders</b></div>
        <mat-list-item>
            <div matListItemLine>	&bull; Please use the ‘Order Here’ page to begin the ordering process. MISHMAKERY, LLC will contact you for further details to book the order.</div>
            <div matListItemLine>	&bull; Whenever possible, communication via direct messaging is preferred (text message, Instagram, Messenger, email, etc.). If communicating via phone calls, MISHMAKERY will send notes of the discussion to your preferred method of text communication.</div>
            <div matListItemLine>	&bull; Orders will only be booked when a deposit of 50% of the final balance is paid. Full payment is required at least 7 days prior to the due date. </div>
            <div matListItemLine>	&bull; When an order is placed less than 10 days prior to the due date, the order must be paid in full to be booked, and all order details must be finalized at the time of booking.</div>
        </mat-list-item>
      </div>
      <div class="question-container d-flex flex-column my-4">
        <div mat-subheader><b>Safety</b></div>
        <mat-list-item>
            <div matListItemLine>	&bull; Many custom orders with complex decorations, such as tiered cakes, require structural support in the form of plastic/wooden straws or dowels. Some decorations may be secured with toothpicks, skewers, or pins.</div>
            <div matListItemLine>	&bull; MISHMAKERY, LLC will communicate all such structural supports at the time of order pickup or delivery and will advise you on which components of the order should be removed prior to consumption.</div>
            <div matListItemLine>	&bull; MISHMAKERY, LLC assumes no liability for injuries or damage sustained due to improper handling of orders, including but not limited to cake-smashing, eating non-edible decorations, not removing structural supports, dropping the order, etc.</div>
        </mat-list-item>
      </div>
      <div class="question-container d-flex flex-column my-4">
        <div mat-subheader><b>Dietary Restrictions</b></div>
        <mat-list-item>
            <div matListItemLine>	&bull; All allergies and intolerances must be communicated to MISHMAKERY, LLC in writing at the time of order placement.</div>
            <div matListItemLine>	&bull; By placing the order and paying the deposit, you understand that all orders are consumed at your own risk.</div>
            <div matListItemLine>	&bull; There are certain allergies, intolerances, and dietary restrictions that MISHMAKERY, LLC cannot accommodate. These will be communicated when you inform MISHMAKERY, LLC about such allergies</div>
        </mat-list-item>
      </div>
      <div class="question-container d-flex flex-column my-4">
        <div mat-subheader><b>Pickup/Delivery</b></div>
        <mat-list-item>
            <div matListItemLine>	&bull; Baked items are fragile and require extra care when transporting. If picking up the order, you should ensure that there is a level surface on which to place the order during transport. It is recommended that you drive extremely carefully, take turns slowly, stop gradually, and leave plenty of space in front of the vehicle.</div>
            <div matListItemLine>	&bull; All orders must be picked up on the agreed upon date and time, unless otherwise communicated.</div>
            <div matListItemLine>	&bull; For large orders, particularly tiered or tall cakes, delivery by MISHMAKERY, LLC is recommended. Delivery is offered for an additional fee, which will be communicated once the delivery address is provided.</div>
            <div matListItemLine>	&bull; Upon pickup or delivery, you will be asked to sign an invoice which will include order details, deposits and balances paid, allergies noted, etc. The signed invoice will serve as the receipt for you and confirmation of order completion for MISHMAKERY, LLC.</div>
        </mat-list-item>
      </div>
      <div class="question-container d-flex flex-column my-4">
        <div mat-subheader><b>Refunds/Cancellation</b></div>
        <mat-list-item>
            <div matListItemLine>	&bull; Deposits may not be refundable if the order is canceled within 10 days of the due date.</div>
            <div matListItemLine>	&bull; Any refunds are granted solely at the discretion of MISHMAKERY, LLC on a case by case basis.</div>
            <div matListItemLine>	&bull; MISHMAKERY reserves the right to cancel a booked order if an order cannot be fulfilled due to personal emergencies, sickness, etc.</div>
        </mat-list-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>